.spinnerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Covers the full viewport width */
  height: 100vh; /* Covers the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; /* On top of other elements */
}

.visible {
  display: flex; 
}

.rippleContainer {
  width: 100px;
  height: 100px;
  position: relative;
}

.ripple {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #335bd7;
  /* background-color: var(--theme-color) !important; */
  /* background-color: #3498db; */
  animation: ripple-animation 1.5s ease-out infinite;
  opacity: 1;
}

.ripple1 {
  animation-delay: 0s; 
}

.ripple2 {
  animation-delay: 0.5s; 
}

.ripple3 {
  animation-delay: 1s; 
}

@keyframes ripple-animation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
